.chat-message {
  flex: 1;
  display: flex;
  border-radius: 2px;
  padding: 1px;
  font-size: 20px;
  flex-direction: column;
  align-items: left;
  float: right;
}

.characterPics {
  height: 25px;
  width: 25px;
  flex-direction: column;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.messageBody {
  display: inline-block;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 5px;
  margin-top: 0px;
}

.userName {
  font-size: 15px;
  border: 0px;
  padding: 0px;
  margin-left: 27px;
}
